#gantt-grid-container__tasks {
  /* outline: 0.5px solid var(--color-outline); */
}

#gantt-task-row {
  /*display: flex;
  outline: 0.5px solid var(--color-outline);
  text-align: center;*/
  /* height: var(--cell-height); */
  /* height: 40px; */
  /*border: none;*/
}

input {
  /* width: 127px; */
  /* border: none;
  outline: none;
  background: none; */
}

/* button {
  line-height: 0px;
  color: var(--color-orange);
  background: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;
}

button:focus {
  outline: none;
  transform: scale(1.3);
} */
