#gantt-grid-container_time {
  /* display: grid; */
  /* overflow-x: auto; */
  /* outline: 0.5px solid var(--color-outline); */
}

.taskDuration {
  /* position: absolute;
  height: calc(var(--cell-height) / 3);
  top: calc(var(--cell-height) / 3);
  z-index: 1;
  background: linear-gradient(
    90deg,
    var(--color-primary-light) 0%,
    var(--color-primary-dark) 100%
  );
  border-radius: 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  cursor: move; */
}

.taskDuration:focus {
  /* outline: 1px solid black; */
}

.dragging {
  /* opacity: 0.5; */
}

/* #gantt-time-period-cell-container {
  height: 90px;
} */
